.navigation_container {
  position: absolute;
  display: flex;
  flex-direction: column;

  border: 2px solid black;
  row-gap: 5rem;
  height: 100vh;
  max-width: 10vw;
}
.navigation_Link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: 500;

  background-color: rgb(84, 83, 83);
  color: wheat;
  border-radius: 5px;
}
.navigation_Link:hover {
  transform: scale(1.05);
}
